{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-4" id="side">
		</div>
		<div class="col-8" id="form-side">
			{% if validlink %}

			<h1>Set a new password!</h1>
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Change my password">
            </form>

			{% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
				</p>

				{% endif %}
		</div>
	</div>
</div>
{% endblock %}