{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-4" id="side">
		</div>
		<div class="col-8" id="form-side">
			<h2>Password Reset</h2>
			<!---<p>Please enter your email address</p>
                <form method="POST">
				{% csrf_token %}
				{{ form.email.errors }}
                <label for="id_email">Email address:</label> {{ form.email }}
                <button class="btn" type="submit">Reset Password</button>
                </form>-->
			<form method="post">
				<p>Please specify your email address to receive instructions for resetting it.</p>
				<br>
				<div style="display:none">
					<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
					{{ form.email.errors }}
					<p><label for="id_email" class="control-label required-field">E-mail address:</label>
						{{ form.email }} <input type="submit" value="Reset password" /></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}