{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block title %}Products{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-4" id="side">
		</div>
		<div class="col-8" id="form-side">
			<h2>Delete Product</h2>
			<p>Are you sure you want to delete {{ item }}</p>
			<form action="{% url 'delete_product' item.id %}" method="POST">
				{% csrf_token %}
				<button class="btn" type="submit">Confirm</button>
			</form>
			<a href="{% url 'products' %}">Cancel</a>
		</div>
	</div>
</div>
{% endblock %}