body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.col{
    padding: 0;
}

.container-fluid{
    padding: 0;
}

form{
    width: 50%;
    margin-top: 15vh;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.carousel-caption {
    top: 5%;
}
/*-------------------------------------------------login page---------------------------------------------------*/

#side{
    background-color:#343a40;
    height: 100vh;
    color: antiquewhite;
}

#side p{
    margin-top: 15vh;
}

#side h2{
    margin-top: 5vh;
}

#form-side h2{
    color: #343a40;
    margin-top: 1%;
}

#product-card{
    margin: 5%;
}


.btn{
    color: #343a40;
    padding-left: 0px;
   
}

.btn:hover{
    color: antiquewhite;
    transition: color 0.5s ease-in-out;
    background-color: #343a40;
    text-decoration: none;
    padding-left: 0px;
}

@media only screen and (max-width: 768px) {
   form{
    width:100%;
  }
}
/*------------------------------home page-----------------------------------------------------------*/

body, html {
    height: 100%;
}


.hero-image {
  background-image: url("../images/monkey.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*------------------------------------------------------------------------------------------*/


.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    width: 80%;
    margin: 5%;
}

.product-description {
    min-height: 10px;
}

/*---------------------------- footer------------------------------ */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: antiquewhite;
    text-align: center;
}

.footer ul{
    margin: 0 auto;
    padding: 0;
}

.footer ul li{
    display: inline;
    font-size: 150%;
    margin-left: 15px;
    margin-right: 15px;
}

.footer ul li i{
    color:  antiquewhite;
    transition: color 0.5s ease-in-out;
}

.footer ul li i:hover{
    color: red;
}

/*-----------------------products------------------------*/

