{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block title %}Checkout{% endblock %}
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
	{% for machine in Machinery %}
	<div class="col-sm-3">
		<p>{{ machine.name }}</p>
        <p>{{ machine.manufacturer }}</p>
        <p>Description: {{ machine.description }}</p>
		<p>Price: {{ machine.price }}</p>
	</div>
    {% endfor %}
</div>
<p> checkout </p>
{% endblock %}