{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}{{ user }}'s Profile{% endblock %}
{% block head_js %}
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %} 
{% block content %}
<div class="container-fluid">
	<div class="row" id="profilerow">
    <div class="col-4" id="side">
    </div>
		<div class="col-8" id="form-side">
            <h3>{{ user }}'s Profile</h3>
            <p>I've heard this is the future site of {{ user }}'s profile page, I must tell you it will be the <br>
            best profile page ever, some say it will be the biggest and best profile page ever, I have many <br>
            many friends and they all tell me it will be the best. <br><em>Trump 2020</em> </p>
		</div>
	</div>
</div> 
   
{% endblock %}