{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block title %}Cart{% endblock %}

{% block content %}
{% if  total  == 0 %}
<div class="container-fluid">
	<div class="row">
    <div class="col-4" id="side">
    </div>
		<div class="col-8" id="form-side">
            <h3 class="notification">Your Shopping Cart Is Currently Empty</h3>
		</div>
	</div>
</div>    
{% endif %}

{% for item in cart_items %}
<div class="card mb-3" style="max-width: 90%;">
	<div class="row no-gutters">
		<div class="col-md-4">
			<img src="{{ MEDIA_URL }}{{ item.product.image }}" class="card-img" alt="{{ product.name }}">
    </div>
			<div class="col-md-4">
				<div class="card-body">
					<h5 class="card-title">{{ item.product.name }}</h5>
					<p class="card-text">{{ item.product.description }}</p>
					<p class="card-text"><small class="text-muted">{{ item.product.price }}</small></p>
				</div>
			</div>
			<div class="col-md-4">
				<form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <!--<label for="exampleInputAmount" class="sr-only">New Qty</label>-->
                        <div class="input-group">
                            <div class="input-group-addon">Qty: {{item.quantity}}</div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control"> <button type="submit" class="btn">Amend</button>
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
{% endfor %}
<div id="cart-total" class="row">
    <h5>Total: &#8364;{{ total }}</h5>
    <a href="{% url 'checkout' %}" class="btn" role="button">Checkout</a>
</div>
{% endblock %}